<%# Navbar for all pages %> 
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/venues">Venues</a></li>
        <li><a href="/leaderboard">Leaderboard</a></li>
        <li><a href="/schedule">Schedule</a></li>
        <li><a href="/information">Information</a></li>
        <li><a href="/social">Social Media</a></li>
        <li><a href="/legends">Legends</a></li>
    </ul>
</nav>