<%# Call layout and pass the path where our boilerplate file is. We don't need to specify .ejs
    This will make the rest of this file the 'body' on the boilerplate file %>
<% layout('layouts/boilerplate') %>

<h1 class="text-center mb-3">Information</h1>

<%# Can do col & rows here %>
<section class="text-center">
    <a href="/information/partners" class="btn btn-primary btn-lg">Partners</a>
    <a href="/information/players" class="btn btn-primary btn-lg">Players</a>
</section>