<%# Call layout and pass the path where our boilerplate file is. We don't need to specify .ejs
    This will make the rest of this file the 'body' on the boilerplate file %>
<% layout('layouts/boilerplate') %>

<h1>Information</h1>