<%# Call layout and pass the path where our boilerplate file is. We don't need to specify .ejs
    This will make the rest of this file the 'body' on the boilerplate file %>
<% layout('layouts/boilerplate') %>

<h1>Players' Information</h1>

<h2>The Game</h2>
<p>In Aces Cracked Entertainment games we play Texas Holdem Poker. Everyone gets dealt two cards. Your
    objective is to make the best possible hand with your cards combined with the community cards, cards on the table
    that everyone can use. Last one standing wins.</p>

<h2>Bounty Tournament Style</h2>
<p>We play tournament style, which means only one player can win the game, but everyone wins points. Everyone starts
    with 10K chips (before bonuses) and the last player standing wins. You earn a bounty worth 5 points for every player
    you eliminate. If you eliminate the previous winner, you'll get the Super Bounty, which is worth 25 points.</p>

<h2>It's Free!</h2>
<p>Aces Cracked Entertainment is a free poker league. We play for fun, practice and points. No gambling is allowed on
    any Aces Cracked Entertainment game or venue.</p>

<h2>The Main Event</h2>
<h3>Coconut Grove - Vallejo - October 23rd at 1pm</h3>
<p>Every 3 months, our Main Event takes place. This is where all our players meet for our biggest game of the season.
    Season awards, darts, raffles, and more...</p>

<h2>Registration</h2>
<p>Registration starts 30 minutes before the start of the game. Times and venues are shown in our <a
        href="/schedule">schedule.</a></p>

<h2>Bonuses</h2>
<h3>New Player Bonus</h3>
<p>When you play your first game with us you'll get a New Player Bonus of 5K chips. If you bring a new player to the
    league, both players get the 5K bonus.</p>

<h3>On Time Bonus</h3>
<p>Arrive before or at the start of the game to receive a On Time Bonus of 5K chips. If you're late you can still
    receive chips. 1K will be deducted after a new blind level starts (i.e. If the game starts at 7pm and you arrive
    at 7:20pm, your On Time Bonus will be 3K. This is the initial 5K minus 2K for two blind levels started).</p>

<h3>Dealer/Director Bonus</h3>
<p>When you buy a drink for the dealers and the director of the game, everyone gets a Dealer/Director Bonus of 5K chips.
    The person who bought the drinks gets an extra 1K chip for every drink bought.</p>
<p>If you decide to buy a drink for one dealer or the director, everyone gets 1K chips and you get 1K extra for buying
    the drink.</p>

<h3>Bridge Bonus</h3>
<p>If your trip from your residence to any Aces Cracked Entertainment games requires you to cross any Bay Area Toll
    Bridge, we'll give you a 5K Bridge Bonus.</p>

<h3>Keychain Bonus</h3>
<p>Aces Cracked Entertainment custom keychains are available for purchase at any of our games. Buy one, and you'll
    automatically receive a 5K Keychain Bonus when you show your keychain. The keychain will be good for every game you
    attend until the end of the season. The bonus can only be claimed once per game at the start of the game, and the
    keychain must be shown to the director.
</p>

<h3>Voucher Bonus</h3>
<p>The players who finish in the top of each season's leaderboard will receive a set of one-time use 5K Voucher Cards at
    the following Main Event. These can be used at any game and must be turned in to redeem.</p>

<h3>Rebuy Bonus</h3>
<p>Reserved for the very best! Finish a season in the Top 10 and you'll receive a Rebuy Bonus chip. This bonus can only
    be used once per season, and must be claimed immediately after being eliminated from a game.</p>

<h2><a href="/information/blinds">Blind Structure</a></h2>