<%# Call layout and pass the path where our boilerplate file is. We don't need to specify .ejs
    This will make the rest of this file the 'body' on the boilerplate file %>
<% layout('layouts/boilerplate') %>

<h1>Visit Our Facebook Page</h1>
<p>All of our latest News, Updates, Information and Pictures can be found on our Facebook pagee.
    <hr>

    Click <a href="https://www.facebook.com/groups/acescrackedentertainment">here</a> and follow us to stay up to date!
</p>